.media-item {
  @include fontSize(16px);
}
.media-item__media {
  position: relative;
  // padding-bottom: 13%;
  img {
    width: 100%;
    display: block;
  }
}
.media-item__content {
  padding-top:25px;
 p {
   @include fontSize(14px);
   @include lineHeight(18px);
   color:#7e7e7e;
   @include breakpoint(tablet) {
    display: none;
   }
 }

 @include breakpoint(tablet) {
   padding-top:10px;
 }
 @include breakpoint(mobile) {
   padding-top:7px;
 }
}
.media-item__tag {
  position: absolute;
  color:#000;
  bottom:0;
  background: #ffcc33;
  @include fontSize(12px);
  font-weight:bold;
  text-transform: uppercase;
  display: block;
  padding:14px 26px;
  @include breakpoint(tablet) {
    padding: 8px 11px;
    @include fontSize(8px);
  }
  @include breakpoint(mobile) {
    @include fontSize(6px);
    padding: 6px 10px;
  }
}
.media-item__content--fluid {
  position: relative;
  @extend .media-item__content;
  .fluid {
    position: absolute;
    top:0;
    left:0;
    padding-top:25px;
    @include breakpoint(tablet) {
      padding-top:10px;
    }
  }
}
