.b-audience {
  display:block;
  @extend .clearfix;
  margin-bottom: 10%;
  @include breakpoint(mobile) {
    margin-top: -27%;
  }
}
.b-audience__item {
  width: 50%;
  float: left;
  text-align: center;
  img {
    width: 100%;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
