.b-button {
  text-align: center;
  display: inline-block;
  padding: 20px 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 16px 37px 3px rgba(0,0,0,0.3);
  margin-bottom: 9.2%;
  @include breakpoint(tablet) {
    padding: 19px 21px;
    @include fontSize(11px);
  }
  @include breakpoint(mobile) {
    @include fontSize(8px);
    padding: 11px 11px;
  }
}
.b-button--white {
  @extend .b-button;
  background: white;
  box-shadow: none;
  padding: 15px 25px;
}
