.b-detail-brands-slider {
  width: 100%;
  margin: 0 auto;
}
.b-detail-brands-slider__item{
  img {
    width: 100%;
  }
}
.b-detail-brands-slider {
  margin-bottom: 43%;
  .slick-prev, .arrow-right {
    right:auto;
    left:-5%;
    width: 19px;
  }
  .slick-next, .arrow-left {
    right:-5%;
    left:auto;
    width: 19px;

  }
}
