.b-detail-intro {
  padding-top: 32%;
  display:block;
  h5 {
    text-align: center;
    @include breakpoint(mobile) {
      @include fontSize(18px);
    }
  }
  &>img {
    position: relative;
    left: -11%;
    width: 123%;
    @include breakpoint(mobile) {
      width: 90%;
      left: 5%;
    }
  }
  p {
    @include lineHeight(33px);
    margin-bottom: 10%;
    text-align: center;
    padding: 0 5%;
    @include fontSize(22px);
    @include breakpoint(mobile) {
      @include fontSize(18px);
    }
  }
}
img.b-detail-intro__logo {
  width: 40%;
  left: 30%;
  margin-bottom: 12%;
  @include breakpoint(mobile) {
    width: 70%;
    left: 15%;
  }
}
.b-detail-intro__media {
  margin-bottom: 16%;
}
p.b-detail-intro__text--Roboto {
  padding: 0 13%;
  text-align: center;
  @include lineHeight(30px);
  @include fontSize(16px);
  margin-bottom: 10%;
  font-family: $text__family--Roboto;
  color:#424242;
  font-weight: 300;
  @include breakpoint(mobile) {
    margin-bottom: 20%;
  }
}
