.b-header-slider {
  z-index: 1;
  display: block;
  @extend .clearfix;
  img {
    width: 100%;
  }
  .slick-prev, .arrow-right {
    right:auto;
    left:1%;
    width: 26px;
    @include breakpoint(mobile) {
      display: none !important;
    }
  }
  .slick-next, .arrow-left {
    right:1%;
    left:auto;
    width: 26px;
    @include breakpoint(mobile) {
      display: none !important;
    }

  }
  @include breakpoint(mobile) {
      margin-bottom: 26%;
  }
}
.b-header-slider__item {
  overflow: hidden;
  position: relative;
  outline:none;
  &:focus,
  &:hover,
  &:active {
    outline:none;
  }
  img {
    outline:none;
    &:focus,
    &:hover,
    &:active {
      outline:none;
    }
  }
}
.b-header-slider__item__info {
  position: absolute;
  left: 25%;
  top: 22%;
  width: 26%;
  h5 {
    position: relative;
    float: left;
    @include fontSize(19px);
    font-family: $text__family--Playfair;
    margin-bottom: 4%;
    &:after {
      position: absolute;
      width: 60px;
      height: 2px;
      background: #fff;
      content:"";
      display:block;
      bottom:4px;
      right:-70px;
    }
  }
  h2 {
    clear: both;
    @include fontSize(106px);
    @include lineHeight(117px);
    @include breakpoint(typoMax) {
      font-size: cvp(106px,1600px);
      line-height: cvp(117px,1600px);
    }
  }
  @include breakpoint(tablet) {
    position: absolute;
    left: 20%;
    top: 17%;
    width: 44%;
  }
}
.slick-arrow{
  position: absolute;
  top:50%;
  z-index: 10;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);

}
.slick-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:4%;
  li {
    display: inline;
    -webkit-appearance: none;
    outline:none;
    &.slick-active {
      button {
        opacity: 0.8;
      }
    }
    button {
      border: none;
      background: red;
      border-radius: 50%;
      margin: 5px;
      outline:none;
      -webkit-appearance: none;
      color:white;
      background: white;
      opacity: 0.4;
      width: 9px;
      height: 9px;
      padding: 0;
      content:'';
      color:transparent;
    }
  }
  @include breakpoint(mobile) {
    display: none !important;
  }
}
.b-header-slider__item__info {
  color:white;
  text-align: left;
  font-family: $text__family--Roboto;
  h2 {
    margin-bottom: 8%;
    display:block;
    font-weight: 500;
    @include fontSize(106px);
    @include lineHeight(117px);
    @include breakpoint(typoMax) {
      font-size: cvp(106px,1600px);
      line-height: cvp(117px,1600px);
    }
    @include breakpoint(mobile) {
      @include fontSize(55px);
      @include lineHeight(63px);
    }
  }
  p {
    margin-bottom: 21%;
    @include lineHeight(27px);
    @include breakpoint(tablet) {
      margin-bottom: 5%;
    }
  }
  @include breakpoint(mobile) {
    position: absolute;
    left: 12%;
    top: 19%;
    width: 80%;
  }
}
img.b-header-slider__item__media {
  display: block !important;
  @include breakpoint(mobile) {
    display: none !important;
  }
}
img.b-header-slider__item__media--mobile {
  display: none !important;
  @include breakpoint(mobile) {
    display: block !important;
  }
}
.b-header-slider__item__circle {
  // background-image: url(../../assets/img/at-yellow-light.png);
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  // width: 151vw !important;

  transform-origin: center;
  -moz-transform-origin: center;
  // transform: rotateZ(-180deg) scale(2.3) translateX(44%) translateY(-50%);
  // transform:  scale(2.7) translateX(18%) translateY(-9%);
  transform: rotateZ(52deg);
  -moz-transform: rotateZ(52deg);
  width: 215%;
  top: -128%;
  left: -18%;
  // display: none;
}
.slick-active .b-header-slider__item__circle {
  display: block;
}
.atyab .mask-circle,
.alati .mask-circle,
.mazyun .mask-circle,
.atyab .mask-circle {
  -ms-transform-origin: 150% 150%;
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  transform-origin: 150% 150%;
}
.mask-circle {
  -ms-transform-origin: 150% 150%;
  -webkit-transform-origin: 150% 150%;
  -moz-transform-origin: 150% 150%;
  transform-origin: 150% 150%;
  @include breakpoint(mobile) {
    display: none;
  }
}
.yasmina .b-header-slider__item__circle {
  // transform:scale(3.6) translateX(0) translateY(0) translateZ(0) ;
  .st1 {
    fill:rgba(51, 6, 90, 0.8);
  }
}
.mazyun .b-header-slider__item__circle {
  // transform:scale(1.28) translateX(9%) translateY(18%);
  .st1 {
    fill:rgba(28, 93, 185, 0.72);
  }
}
.alati .b-header-slider__item__circle {
  // transform:scale(1.28) translateX(9%) translateY(18%);
  // left: -9%;
  // top: -155%;
  .st1 {
    fill:rgba(255, 0, 106, 0.56);
  }
}
.mashaheeri .b-header-slider__item__circle {
  .st1 {
    fill:rgba(87, 4, 47, 0.7);
  }
}
.warrini .b-header-slider__item__circle {
  .st1 {
    fill:rgba(35, 62, 61, 0.58);
  }
}
.st0 {
  opacity: 1 !important;
}
.mask-circle {
  // transform: trans
}
.slick-arrow {
  cursor: pointer;
}
