.b-social {
  text-align: center;
  // margin-bottom: 11%;
  // padding-top: 4%;
}
li.b-social__item {
  width: auto;
  display: inline-block;
  text-align: center;
  margin:15px;
  transition:390ms;
  a {
    display: block;
  }
  img {
    height: 34px;
  }
  &:first-child {
    margin-left:0;
  }
  &:nth-child(2){
    img {
      height: 30px;
    }
  }
  &:hover {
    opacity: 0.6;
  }
}
.b-detail-intro{
  .b-social {
    text-align: center;
    margin-bottom: 29%;
    padding-top: 4%;
  }
  li.b-social__item {
    display: inline-block;
    text-align: center;
    margin:0;
    img {
      width: 60px;
      height: 60px;
    }
  }
}
li.b-social__item.gplay img, li.b-social__item.app-store img{
  height: 40px;
  width: auto;
}

li.b-social__item.app-store {
  margin:15px;
}
li.b-social__item.gplay {
  margin:15px;
  margin-left:0;
}
