.b-line--bottom {
  position: relative;
  &:after {
    position: absolute;
    bottom:-42%;
    width: 60px;
    background: #C41230;
    height: 3px;
    left:50%;
    transform:translateX(-50%);
    content:"";
    @include breakpoint(mobile) {
      bottom: -20%;
    }
  }
}
