.b-video {
  position: relative;
  // padding-top:56%;
  max-width: 1200px;
  margin: 0 auto;
  video {
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }
}
.video-js {
  outline: none !important;
  width: 100%;
}
.video-js button.vjs-big-play-button {
  background-image: url(../../assets/img/play-ico.png) !important;
  width: 200px;
  border-radius: 50%;
  height: 200px;
  border-radius: 50%;
  border: none;
  background-size: 100%;
  transform:translateX(-50%) translateY(-50%);
  -moz-transform:translateX(-50%) translateY(-50%);
  -webkit-transform:translateX(-50%) translateY(-50%);
  background-color: transparent;
  transition:all 500ms !important;
  margin:0 !important;
  background-size: 109%;
  background-position: center;
  &:before,
  &:after {
    display: none;
  }
  @include breakpoint(mobile) {
    width: 100px;
    background-repeat: no-repeat;
  }
}
