.header {
  display: block;
  text-align: center;
  max-width: 1700px;
  left:50%;
  transform:translateX(-50%);
  @extend .clearfix;
  background: #000;
  height: 65px;
  @include lineHeight(64px);
  z-index: 50;
  position:fixed;
  width: 100%;
  @include breakpoint(tablet) {
    // display: none;
    z-index: 9999;
    height: 83px;
  }
  @include breakpoint(mobile) {
    height: 42px;
  }
}
.header-links {
  li {
    color:yellow;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    @include fontSize(12px);
    vertical-align: top;
    color: #ffcc33;
    margin: 0 1.5%;
    letter-spacing: 1px;
  }
  @include breakpoint(tablet){
    display: none;
    background: #fff;
    width: 70.7%;
    width: 70.7%;
    overflow: hidden;
    text-align: left;
    padding: 13.4% 0% 1% 14%;
    height: 100vh;
    li {
      margin:0;
      margin-bottom: 3.2%;
    }
    .header__logo {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    padding: 13.6% 0% 1% 12.3%;
    li {
      line-height: 22px;
      display: block;
    }
  }
}
.header-links__item {
  display: inline-block;
  border-bottom: 3px solid transparent;
  padding-bottom: 6px;
  position: relative;
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    background: white;
    bottom: 24px;
    left: 0;
    display: none;
    @include breakpoint(tablet) {
      display: none !important;
    }
  }
  &:hover {
    color: white;
    &:after {
      display: block;
    }
    .header__submenu {
      display: block;
    }

    @include breakpoint(tablet) {
      .header__submenu {
        display: none;
      }
    }
  }
  @include breakpoint(tablet){
    display: block;
    width: 100%;
    background: #fff;
    position: relative;
    p, a {
      text-align: left;
      @include fontSize(22px);
      margin-bottom: 5%;
    }
    a {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      left: -46px;
      top: 24px;
      background-image: url(#{$path-images}/nav-arrow.png);
      background-size: 11px;
      background-position: center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
    }
    &.submenu-active {
      &:before {
        transform: rotate(0);
        -ms-transform: rotate(0);
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
      }
    }
  }
  @include breakpoint(mobile) {
    a {
      font-size: 12px;
      line-height: 33px;
    }
    &:before {
      width: 20px;
      height: 20px;
      left: -25px;
      top: 7px;
      background-size: 6px;
    }
  }
}
a.header-links__item__link {
  @include breakpoint(tablet) {
    color:#000;
  }
}
.header-social {
  float: left;
  // width: 100px;
  @include breakpoint(tablet){
    display: none;
  }
}
.header-search {
  float: right;
  width: 100px;
}
li.header__logo {
  position: relative;
  z-index: 60;
  width: 12%;
  display: inline-block;
  height: 0;
  &:hover {
    display: inline-block;
    border:none;
    &:after {
      display: none;
    }
  }
}
.header__logo img {
  margin-top: 10px;
  width: 100%;
}
.header-social__item {
  width: 23px;
  height: 45px;
  margin:10px;
  background-image: url(#{$path-images}/fb-header-ico.png);
  background-repeat: no-repeat;
  background-size: 10px;
  float: left;
  background-position: center;
  &.fb {
    margin-left:21px;
  }
  &.yt {
    background-image: url(#{$path-images}/yt-header-ico.png);
    background-size: 23px;
  }

}
.header-search {
  width: 23px;
  height: 45px;
  margin:10px;
  margin-right:33px;
  float: right;
  background-image: url(#{$assetpath}/img/header-search-ico.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}


// Testing

.header__submenu {
  display: none;
  max-width: 1700px;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  margin-top:65px;
  @extend .clearfix;
  background: #fff;
  @include breakpoint(tablet){
    position: relative;
    margin-top: 0;
    margin-bottom: 2%;
  }
}
.submenu-active .header__submenu {
  display: block !important;
}
.header__submenu__item {
  width: 25%;
  float: left;
  background: white;
  border-right: 1px solid #ececec;
  padding: 3% 4%;
  padding-left: 7.1%;
  @include fontSize(15px);
  @include lineHeight(70px);
  @include breakpoint(tablet){
    width: 100%;
    border:none;
    padding-left: 3.1%;
    text-transform: none;
    @include lineHeight(65px);
    padding-bottom: 0;
    padding-top: 0;
  }
}
.header__submenu__item--double {
  @extend .header__submenu__item;
  width: 50%;
  padding: 2.7% 4.9%;
}
.header__submenu__item--articles {
  @extend .header__submenu__item;
  padding: 2.9% 10.7% 3% 5.7%;
  h2 {
    @include fontSize(26px);
    margin-bottom: -1%;
    color:#000;
    span {
      font-weight: 300;
    }
  }
  @include breakpoint(tablet){
    display:none;
  }
}
.header__submenu__item--double {
  @extend .header__submenu__item;
  text-align: left;
}
.header__submenu__item--articles.header__submenu__item {
  padding: 2.7% 1.7% 3% 5.2%;
  h2 {
    text-align: left;
  }
  .header__submenu__article {
    text-align: left;
    width: 100%;
    /* float: left; */
    margin-bottom: 2.5%;
    /* min-height: 87px; */
    display: inline-block;
    vertical-align: top;
    float: none;
  }
}
.header__submenu__item__link {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  color:#000;
  &:hover {
    color:#000;
  }
  @include breakpoint(tablet){
    margin:0;
  }
}
.header__submenu__item--articles.header__submenu__item--double {
  .header__submenu__article {
    text-align: left;
    width: 49%;
    float: none;
    margin-bottom: 2.5%;
  }
}
.header__submenu__article {
  text-align: left;
  width: 50%;
  float: left;
  margin-bottom: 2.5%;
  min-height: 76px;
  img {
    width: 68px;
    float:left;
    margin-right: 18px
  }
  p {
    float: left;
    text-transform: none;
    width: 138px;
  }
}
.nav-ico {
  display: none;
  background: url(#{$path-images}/nav-ico.png);
  height: 83px;
  width: 83px;
  margin-left: 18px;
  background-size: 29px;
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint(tablet) {
    display: block;
  }
  @include breakpoint(mobile) {
    height: 42px;
    width: 42px;
    background-size: 16px;
    margin-left: 3px;
  }
}
.header-opened {
  .nav-ico {
    background-image: url(#{$path-images}/close.png);
  }
  .header-links {
    display: block;
  }
}
.header__logo--tablet {
  display: none;
  position: absolute;
  width: 36%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include breakpoint(tablet) {
    display: block;
  }
}
.header__submenu__article--text {
  float: left;
  text-transform: none;
  width: 138px;
  margin-bottom: 12px;
  @include fontSize(13px);
  @include lineHeight(15px);
  @include breakpoint(typoMax) {
    font-size:cvp(14px, 1700px);
    line-height:cvp(16px, 1700px);
  }
  color: #000;
  &:hover {
    color:#000;
  }
}
