.header {
  display: block;
  text-align: center;
  @extend .clearfix;
  background: #222;
  height: 65px;
  @include lineHeight(64px);
  z-index: 10;
  position:relative;
}
.header-links {
  display: inline;
  li {
    color:yellow;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    @include fontSize(12px);
    vertical-align: top;
    color: #ffcc33;
    margin: 0 1.5%;
    letter-spacing: 1px;
  }
}
.header-social {
  float: left;
  // width: 100px;
}
.header-search {
  float: right;
  width: 100px;
}
.header__logo img {
  margin-top: 10px;
}
.header-social__item {
  width: 23px;
  height: 45px;
  margin:10px;
  background-image: url(#{$assetpath}/img/fb-header-ico.png);
  background-repeat: no-repeat;
  background-size: 10px;
  float: left;
  background-position: center;
  &.fb {
    margin-left:21px;
  }
  &.yt {
    background-image: url(#{$assetpath}/img/yt-header-ico.png);
    background-size: 23px;
  }
}
.header-search {
  width: 23px;
  height: 45px;
  margin:10px;
  margin-right:33px;
  float: right;
  background-image: url(#{$assetpath}/img/header-search-ico.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
}
