.wrapper {
  @extend .clearfix;
  width: 100%;
  margin: 0 auto;
}
.wrapper--big {
  @extend .wrapper;
  max-width: 1700px;
}
.wrapper--medium {
  @extend .wrapper;
  max-width: 1400px;
  padding: 0 25px;
  @include breakpoint(tablet) {
    padding: 0 60px;
  }
  @include breakpoint(mobile) {
    padding: 0 6%;
  }
}
