h1 {
}
h2 {
  text-transform: uppercase;
  @include fontSize(32px);
  strong {
    font-weight: 900;
  }
  span {
    // font-style: italic;
    font-family: $text__family--Airways;
    text-transform: lowercase;
    @include fontSize(30px);
    @include breakpoint(tablet) {
      @include fontSize(20px);
    }
    @include breakpoint(mobile) {
      @include fontSize(27px);
    }

  }
  @include breakpoint(tablet) {
    @include fontSize(20px);
  }
}
h3 {
  @include fontSize(31px);
  @include lineHeight(31px);
  margin-bottom: 11%;
  font-weight: 900;
}
h4 {
  @include fontSize(18px);
  @include lineHeight(26px);
  font-weight: 900;
  margin-bottom: 18px;
  @include breakpoint(tablet) {
    @include fontSize(15px);
    @include lineHeight(20px);
  }
  @include breakpoint(mobile) {
    @include fontSize(14px);
    @include lineHeight(16px);
  }
}
strong {
  font-weight: bold;
}
