.w-search-popup__wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: fixed;
  z-index: 10002;
  display: none;
  form {
    height: 100%;
    display: block;
  }
}
.w-search-popup__search-ico {
  float: none;
  display: inline-block;
}
.search-opened {
  .w-search-popup__wrapper {
    display: block;
  }
}
.w-search-popup__input {
  line-height: 50px;
  background: transparent;
  border: none;
  font-size: 80px;
  color:#fff;
  border:none;
  outline:none;
  font-weight: 900;
  float: none;
  display: inline-block;
  width: 94%;
  &:active, &:focus {
    border:none;
    outline:none;
  }
  @include breakpoint(tablet) {
    @include fontSize(38px);
  }
  @include breakpoint(mobile) {
    @include fontSize(19px);
    @include lineHeight(33px);
  }
}
.w-search-popup {
  width: 61.3%;
  top: 42.3%;
  position: relative;
  left: 49.6%;
  transform: translateX(-50%);
  @extend .clearfix;
  @include breakpoint(tablet) {
    width: 85.3%;
    top: 38.3%;
    position: relative;
    left: 50.6%;
    top: 30.3%;
  }
  @include breakpoint(mobile) {
    left: 56%;
    top: 27.2%;
    width: 98%;
  }
}
.w-search-popup__close,
.w-search-popup__search-ico {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size:20px;
  background-repeat: no-repeat;
}
.w-search-popup__close {
  right: 8%;
  background-size: 33px;
  top: 3.5%;
  cursor: pointer;
  position: absolute;
  background-image:url(#{$path-images}/search-popup-close-ico);
  @include breakpoint(tablet) {
    right: 4%;
    background-size: 33px;
    top: 2.5%;

  }
  @include breakpoint(mobile) {
    background-size: 14px;
    top: 0%;
    right: 1%;
  }
}
.w-search-popup__search-ico {
  cursor: pointer;
  display: inline-block;
  background-image:url(#{$path-images}/search-popup-search-ico);
  background-size: 73px;
  width: 73px;
  height: 73px;
  @include breakpoint(tablet) {
    background-size: 40px;
  }
  @include breakpoint(mobile) {
    background-size: 23px;
    height: 55px;
    width: 29px;
  }
}
.w-search-popup__left {
  width: 93%;
  float: left;
  border-bottom: 1px solid #fff;
  @include breakpoint(mobile) {
    width: 81%;
  }
}
.w-search-popup__right {
  width: 7%;
  float: left;
  padding-top: 3%;
  padding-left: 1%;
  @include breakpoint(tablet) {
    padding-top: 1%;
    padding-left: 0%;
    margin-left: -2%;
  }
}
