.page-contact {
  padding-top:8%;
  @include breakpoint(mobile) {
    padding-top:30%;
    .b-contacts__item {
      text-align: left;
    }
  }
  .menu-ico {
    background-image: url(../../assets/img/menu--dark.svg);
  }
}
