@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper:after, .wrapper--big:after, .wrapper--medium:after, .header:after, .header__submenu:after, .b-hp-news:after, .b-hp-fan:after, .b-hp-fan__teaser:after, .b-hp-fan__list:after, .b-hp-vu:after, .b-hp-business:after, .b-most-read:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

@font-face {
  font-family: 'Airways';
  src: url(/_common/fonts/airways.ttf);
  /* IE9 Compat Modes */
  src: url(/_common/fonts/airways.ttf) format("truetype"), url("webfont.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  @media (max-width: 1700px) {
    html {
      font-size: 16px; } }
  @media (max-width: 767px) {
    html {
      font-size: 16px; } }

p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #7e7e7e; }

body {
  position: relative; }

.elem-center {
  display: block;
  text-align: center;
  clear: both; }
  .elem-center h2 {
    display: inline-block; }

.arr-go {
  float: right;
  margin-right: 15px;
  background: url(../../assets/img/arrow-visit.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center; }

.text-align--left {
  text-align: left; }

.no-scroll {
  overflow: hidden; }

h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem; }
  h2 strong {
    font-weight: 900; }
  h2 span {
    font-family: "Airways", sans-serif;
    text-transform: lowercase;
    font-size: 30px;
    font-size: 1.875rem; }
    @media (max-width: 1023px) {
      h2 span {
        font-size: 20px;
        font-size: 1.25rem; } }
    @media (max-width: 767px) {
      h2 span {
        font-size: 27px;
        font-size: 1.6875rem; } }
  @media (max-width: 1023px) {
    h2 {
      font-size: 20px;
      font-size: 1.25rem; } }

h3 {
  font-size: 31px;
  font-size: 1.9375rem;
  line-height: 31px;
  line-height: 1.9375rem;
  margin-bottom: 11%;
  font-weight: 900; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 900;
  margin-bottom: 18px; }
  @media (max-width: 1023px) {
    h4 {
      font-size: 15px;
      font-size: 0.9375rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (max-width: 767px) {
    h4 {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 16px;
      line-height: 1rem; } }

strong {
  font-weight: bold; }

.wrapper, .wrapper--big, .wrapper--medium {
  width: 100%;
  margin: 0 auto; }

.wrapper--big {
  max-width: 1700px; }

.wrapper--medium {
  max-width: 1400px;
  padding: 0 25px; }
  @media (max-width: 1023px) {
    .wrapper--medium {
      padding: 0 60px; } }
  @media (max-width: 767px) {
    .wrapper--medium {
      padding: 0 6%; } }

.media-item {
  font-size: 16px;
  font-size: 1rem; }

.media-item__media {
  position: relative; }
  .media-item__media img {
    width: 100%;
    display: block; }

.media-item__content, .media-item__content--fluid {
  padding-top: 25px; }
  .media-item__content p, .media-item__content--fluid p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #7e7e7e; }
    @media (max-width: 1023px) {
      .media-item__content p, .media-item__content--fluid p {
        display: none; } }
  @media (max-width: 1023px) {
    .media-item__content, .media-item__content--fluid {
      padding-top: 10px; } }
  @media (max-width: 767px) {
    .media-item__content, .media-item__content--fluid {
      padding-top: 7px; } }

.media-item__tag {
  position: absolute;
  color: #000;
  bottom: 0;
  background: #ffcc33;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 14px 26px; }
  @media (max-width: 1023px) {
    .media-item__tag {
      padding: 8px 11px;
      font-size: 8px;
      font-size: 0.5rem; } }
  @media (max-width: 767px) {
    .media-item__tag {
      font-size: 6px;
      font-size: 0.375rem;
      padding: 6px 10px; } }

.media-item__content--fluid {
  position: relative; }
  .media-item__content--fluid .fluid {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px; }
    @media (max-width: 1023px) {
      .media-item__content--fluid .fluid {
        padding-top: 10px; } }

.header {
  display: block;
  text-align: center;
  max-width: 1700px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  height: 65px;
  line-height: 64px;
  line-height: 4rem;
  z-index: 50;
  position: fixed;
  width: 100%; }
  @media (max-width: 1023px) {
    .header {
      height: 83px; } }

.header-links li {
  color: yellow;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  vertical-align: top;
  color: #ffcc33;
  margin: 0 1.5%;
  letter-spacing: 1px; }

@media (max-width: 1023px) {
  .header-links {
    background: #fff;
    width: 70.7%;
    margin-top: 83px;
    width: 70.7%;
    text-align: left;
    padding: 13.4% 0% 1% 14%; }
    .header-links li {
      margin: 0;
      margin-bottom: 3.2%; }
    .header-links .header__logo {
      display: none; } }

.header-links__item:hover .header__submenu {
  display: block; }

@media (max-width: 1023px) {
  .header-links__item {
    display: block;
    width: 100%;
    background: #fff; }
    .header-links__item p, .header-links__item a {
      text-align: left;
      font-size: 22px;
      font-size: 1.375rem;
      margin-bottom: 5%; }
    .header-links__item a {
      margin-bottom: 0; } }

a.header-links__item__link {
  color: #000; }

.header-social {
  float: left; }
  @media (max-width: 1023px) {
    .header-social {
      display: none; } }

.header-search {
  float: right;
  width: 100px; }

li.header__logo {
  position: relative;
  z-index: 60;
  width: 12%; }

.header__logo img {
  margin-top: 10px;
  width: 100%; }

.header-social__item {
  width: 23px;
  height: 45px;
  margin: 10px;
  background-image: url(../../assets//img/fb-header-ico.png);
  background-repeat: no-repeat;
  background-size: 10px;
  float: left;
  background-position: center; }
  .header-social__item.fb {
    margin-left: 21px; }
  .header-social__item.yt {
    background-image: url(../../assets//img/yt-header-ico.png);
    background-size: 23px; }

.header-search {
  width: 23px;
  height: 45px;
  margin: 10px;
  margin-right: 33px;
  float: right;
  background-image: url(../../assets//img/header-search-ico.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center; }

nav {
  display: none; }

.header__submenu {
  display: none;
  max-width: 1700px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 65px;
  background: #fff; }
  @media (max-width: 1023px) {
    .header__submenu {
      display: block;
      position: relative;
      margin-top: 0;
      margin-bottom: 2%; } }

.header__submenu__item, .header__submenu__item--double, .header__submenu__item--articles {
  width: 25%;
  float: left;
  background: white;
  border-right: 1px solid #eee;
  padding: 3% 4%;
  padding-left: 7.1%;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 70px;
  line-height: 4.375rem; }
  @media (max-width: 1023px) {
    .header__submenu__item, .header__submenu__item--double, .header__submenu__item--articles {
      width: 100%;
      border: none;
      padding-left: 3.1%;
      text-transform: none;
      line-height: 65px;
      line-height: 4.0625rem;
      padding-bottom: 0;
      padding-top: 0; } }

.header__submenu__item--double {
  width: 50%;
  padding: 2.7% 4.9%; }

.header__submenu__item--articles {
  padding: 2.9% 10.7% 3% 5.7%; }
  .header__submenu__item--articles h2 {
    font-size: 26px;
    font-size: 1.625rem;
    margin-bottom: -1%;
    color: #000; }
  @media (max-width: 1023px) {
    .header__submenu__item--articles {
      display: none; } }

.header__submenu__item--double {
  text-align: left; }

.header__submenu__item__link {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  color: #000; }
  @media (max-width: 1023px) {
    .header__submenu__item__link {
      margin: 0; } }

.header__submenu__article {
  text-align: left;
  width: 50%;
  float: left;
  margin-bottom: 2.5%; }
  .header__submenu__article img {
    width: 68px;
    float: left;
    margin-right: 18px; }
  .header__submenu__article p {
    float: left;
    text-transform: none;
    width: 138px; }

.b-hp-viewer {
  display: block; }
  .b-hp-viewer img {
    display: block; }

.b-hp-viewer__item img {
  width: 100%; }

.b-hp-news {
  display: block;
  position: relative; }
  .b-hp-news h2 {
    position: absolute;
    margin-top: 17.3%; }
    @media (max-width: 1023px) {
      .b-hp-news h2 {
        margin-top: 14.3%; } }
    @media (max-width: 767px) {
      .b-hp-news h2 {
        margin-top: 11.3%;
        width: 31%;
        font-size: 22px;
        font-size: 1.375rem; } }

.b-hp-news__left, .b-hp-news > div:nth-child(2),
.b-hp-news__right, .b-hp-news > div:nth-child(3) {
  width: 49.3%;
  margin-right: 0.7%;
  float: left; }
  @media (max-width: 767px) {
    .b-hp-news__left, .b-hp-news > div:nth-child(2),
    .b-hp-news__right, .b-hp-news > div:nth-child(3) {
      width: 100%; } }

.b-hp-news__right, .b-hp-news > div:nth-child(3) {
  width: 49.3%;
  margin-right: 0;
  margin-left: 0.7%; }
  @media (max-width: 1023px) {
    .b-hp-news__right, .b-hp-news > div:nth-child(3) {
      width: 42.4%; } }
  @media (max-width: 767px) {
    .b-hp-news__right, .b-hp-news > div:nth-child(3) {
      width: 100%; } }

@media (max-width: 1023px) {
  .b-hp-news__left, .b-hp-news > div:nth-child(2) {
    width: 56%; } }

@media (max-width: 767px) {
  .b-hp-news__left, .b-hp-news > div:nth-child(2) {
    width: 100%; } }

.b-hp-news__item {
  float: left;
  width: 50%; }
  .b-hp-news__item h2 {
    margin-bottom: 72%; }
    @media (max-width: 1023px) {
      .b-hp-news__item h2 {
        margin-bottom: 22%; } }
    @media (max-width: 767px) {
      .b-hp-news__item h2 {
        width: 56%;
        font-size: 22px;
        font-size: 1.375rem;
        margin-bottom: 13%; }
        .b-hp-news__item h2 span {
          font-size: 26px;
          font-size: 1.625rem;
          line-height: 18px;
          line-height: 1.125rem; } }

.b-hp-news__item--A, .b-hp-news__item--1 {
  padding-top: 35.3%;
  width: 35%;
  margin-right: 4%; }
  .b-hp-news__item--A h2, .b-hp-news__item--1 h2 {
    position: absolute; }
  .b-hp-news__item--A .media-item__media, .b-hp-news__item--1 .media-item__media {
    padding-top: 99%; }
  @media (max-width: 1023px) {
    .b-hp-news__item--A, .b-hp-news__item--1 {
      width: 42%;
      padding-top: 26.3%;
      margin-right: 3%; }
      .b-hp-news__item--A .media-item__media, .b-hp-news__item--1 .media-item__media {
        padding-top: 49%; } }
  @media (max-width: 767px) {
    .b-hp-news__item--A, .b-hp-news__item--1 {
      position: relative;
      padding-top: 12%;
      width: 36%; }
      .b-hp-news__item--A .media-item__media, .b-hp-news__item--1 .media-item__media {
        margin-top: 80%;
        padding-top: 0; } }

.b-hp-news__item--B, .b-hp-news__item--2 {
  padding-top: 36.2%;
  width: 60.5%; }
  @media (max-width: 1023px) {
    .b-hp-news__item--B, .b-hp-news__item--2 {
      padding-top: 31.2%;
      width: 53.7%; } }
  @media (max-width: 767px) {
    .b-hp-news__item--B, .b-hp-news__item--2 {
      width: 60.7%;
      padding-top: 8%; } }

.b-hp-news__item--C, .b-hp-news__item--3 {
  padding-top: 11.4%;
  width: 100%;
  margin-bottom: 17.6%; }
  .b-hp-news__item--C .media-item__content, .b-hp-news__item--C .media-item__content--fluid, .b-hp-news__item--3 .media-item__content, .b-hp-news__item--3 .media-item__content--fluid {
    padding-top: 16%; }
  .b-hp-news__item--C .media-item__media img, .b-hp-news__item--3 .media-item__media img {
    width: 87%; }
    @media (max-width: 1023px) {
      .b-hp-news__item--C .media-item__media img, .b-hp-news__item--3 .media-item__media img {
        width: 100%; } }
  @media (max-width: 1023px) {
    .b-hp-news__item--C, .b-hp-news__item--3 {
      padding-top: 9.7%; }
      .b-hp-news__item--C .media-item__content, .b-hp-news__item--C .media-item__content--fluid, .b-hp-news__item--3 .media-item__content, .b-hp-news__item--3 .media-item__content--fluid {
        padding-top: 16%; } }
  @media (max-width: 767px) {
    .b-hp-news__item--C, .b-hp-news__item--3 {
      padding-top: 7.7%;
      margin-bottom: 11.6%; } }

.b-hp-news__item--D, .b-hp-news__item--4 {
  width: 100%;
  margin-bottom: 10.6%; }
  .b-hp-news__item--D .media-item__media, .b-hp-news__item--4 .media-item__media {
    width: 48.2%;
    margin-right: 4%;
    float: left; }
    @media (max-width: 1023px) {
      .b-hp-news__item--D .media-item__media, .b-hp-news__item--4 .media-item__media {
        width: 56.2%; } }
    @media (max-width: 767px) {
      .b-hp-news__item--D .media-item__media, .b-hp-news__item--4 .media-item__media {
        width: 48.2%; } }
  .b-hp-news__item--D .media-item__content, .b-hp-news__item--D .media-item__content--fluid, .b-hp-news__item--4 .media-item__content, .b-hp-news__item--4 .media-item__content--fluid {
    padding-top: 0;
    float: left;
    width: 42%;
    margin-left: 0; }
    @media (max-width: 1023px) {
      .b-hp-news__item--D .media-item__content, .b-hp-news__item--D .media-item__content--fluid, .b-hp-news__item--4 .media-item__content, .b-hp-news__item--4 .media-item__content--fluid {
        width: 37%;
        padding-top: 0; } }
  @media (max-width: 1023px) {
    .b-hp-news__item--D, .b-hp-news__item--4 {
      margin-bottom: 19.6%; } }
  @media (max-width: 767px) {
    .b-hp-news__item--D, .b-hp-news__item--4 {
      margin-bottom: 11.6%; } }

.b-button {
  text-align: center;
  display: inline-block;
  padding: 20px 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 16px 37px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 9.2%; }
  @media (max-width: 1023px) {
    .b-button {
      padding: 19px 21px;
      font-size: 11px;
      font-size: 0.6875rem; } }
  @media (max-width: 767px) {
    .b-button {
      font-size: 8px;
      font-size: 0.5rem;
      padding: 11px 11px; } }

.b-hp-fan {
  display: block;
  padding: 7.3% 6.3%;
  position: relative; }
  @media (max-width: 767px) {
    .b-hp-fan {
      padding: 0; } }

.b-hp-fan__teaser {
  display: block;
  background: #fff;
  box-shadow: 0px 56px 100px 3px rgba(0, 0, 0, 0.4);
  z-index: 21;
  position: relative; }

.b-hp-fan__teaser__media {
  display: block;
  width: 70.5%;
  float: left; }
  .b-hp-fan__teaser__media img {
    display: block;
    width: 100%; }
  @media (max-width: 1023px) {
    .b-hp-fan__teaser__media {
      width: 67.9%; } }
  @media (max-width: 767px) {
    .b-hp-fan__teaser__media {
      width: 100%; } }

.b-hp-fan__teaser__content {
  background: #fff;
  width: 29.5%;
  float: left;
  padding: 3.9% 2.6% 3.9% 7.6%; }
  .b-hp-fan__teaser__content h2 {
    margin-bottom: 30%; }
  .b-hp-fan__teaser__content h3 {
    font-size: 31px;
    font-size: 1.9375rem;
    line-height: 31px;
    line-height: 1.9375rem; }
    @media (max-width: 1700px) {
      .b-hp-fan__teaser__content h3 {
        font-size: 1.82353vw;
        line-height: 1.82353vw; } }
    @media (max-width: 1023px) {
      .b-hp-fan__teaser__content h3 {
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 20px;
        line-height: 1.25rem; } }
  .b-hp-fan__teaser__content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #7e7e7e; }
    @media (max-width: 1023px) {
      .b-hp-fan__teaser__content p {
        display: none; } }
  @media (max-width: 1023px) {
    .b-hp-fan__teaser__content {
      padding: 5.9% 2.6% 3.9% 7.6%;
      width: 32.1%; }
      .b-hp-fan__teaser__content h2 {
        margin-bottom: 6%; } }
  @media (max-width: 767px) {
    .b-hp-fan__teaser__content {
      width: 100%;
      padding: 6.1% 2.6% 1.9% 10%; } }

.b-hp-fan__list {
  display: block;
  padding-left: 14.6%;
  padding-top: 5.8%; }
  @media (max-width: 1023px) {
    .b-hp-fan__list {
      padding-top: 6.7%; } }
  @media (max-width: 767px) {
    .b-hp-fan__list {
      padding: 0;
      padding-top: 12%; } }

.b-hp-fan__list__item {
  width: 31.6%;
  z-index: 22;
  position: relative;
  float: right; }
  .b-hp-fan__list__item:nth-child(2) {
    margin-left: 2.7%;
    margin-right: 2.5%; }
    @media (max-width: 767px) {
      .b-hp-fan__list__item:nth-child(2) {
        margin-left: 2%;
        margin-right: 0; } }
  @media (max-width: 767px) {
    .b-hp-fan__list__item {
      width: 49%;
      float: left;
      margin-bottom: 9.9%; } }

.b-hp-fan__bck {
  background: #dedede;
  position: absolute;
  height: 61%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0; }
  @media (max-width: 767px) {
    .b-hp-fan__bck {
      display: none; } }

.b-hp-vu {
  padding-left: 6%; }
  .b-hp-vu h2 {
    margin-top: 6.9%;
    margin-bottom: 4.6%;
    width: 52.7%; }
  @media (max-width: 1023px) {
    .b-hp-vu {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .b-hp-vu h2 {
      margin-bottom: 8.6%; } }

.b-hp-vu__item, .b-hp-vu__item--A, .b-hp-vu__item--1, .b-hp-vu__item--B, .b-hp-vu__item--2, .b-hp-vu__item--C, .b-hp-vu__item--3, .b-hp-vu__item--D, .b-hp-vu__item--4, .b-hp-vu__item--E, .b-hp-vu__item--5 {
  float: left;
  display: block; }

.b-hp-vu__item--A, .b-hp-vu__item--1 {
  width: 25.3%;
  margin-right: 1.9%; }
  @media (max-width: 1023px) {
    .b-hp-vu__item--A, .b-hp-vu__item--1 {
      width: 30%; } }
  @media (max-width: 767px) {
    .b-hp-vu__item--A, .b-hp-vu__item--1 {
      width: 48%; } }

.b-hp-vu__item--B, .b-hp-vu__item--2 {
  width: 25.3%;
  margin-right: 1.78%; }
  @media (max-width: 1023px) {
    .b-hp-vu__item--B, .b-hp-vu__item--2 {
      width: 23.3%;
      margin-right: 1.78%; } }
  @media (max-width: 767px) {
    .b-hp-vu__item--B, .b-hp-vu__item--2 {
      width: 48.8%;
      margin-right: 0; }
      .b-hp-vu__item--B .media-item__content, .b-hp-vu__item--B .media-item__content--fluid, .b-hp-vu__item--2 .media-item__content, .b-hp-vu__item--2 .media-item__content--fluid {
        padding-top: 33%; } }

.b-hp-vu__item--C, .b-hp-vu__item--3 {
  width: 45.7%;
  margin-top: -16.7%; }
  .b-hp-vu__item--C .media-item__content, .b-hp-vu__item--C .media-item__content--fluid, .b-hp-vu__item--3 .media-item__content, .b-hp-vu__item--3 .media-item__content--fluid {
    padding-top: 34.82%;
    padding-bottom: 10%; }
  @media (max-width: 1023px) {
    .b-hp-vu__item--C, .b-hp-vu__item--3 {
      margin-top: -16.2%;
      width: 42.6%; }
      .b-hp-vu__item--C .media-item__content, .b-hp-vu__item--C .media-item__content--fluid, .b-hp-vu__item--3 .media-item__content, .b-hp-vu__item--3 .media-item__content--fluid {
        padding-top: 32%; } }
  @media (max-width: 767px) {
    .b-hp-vu__item--C, .b-hp-vu__item--3 {
      width: 100%;
      margin-top: 6%;
      margin-right: 2%; }
      .b-hp-vu__item--C .media-item__content, .b-hp-vu__item--C .media-item__content--fluid, .b-hp-vu__item--3 .media-item__content, .b-hp-vu__item--3 .media-item__content--fluid {
        padding-top: 23%; } }

.b-hp-vu__item--D, .b-hp-vu__item--4 {
  width: 25.3%;
  margin-right: 1.78%; }
  @media (max-width: 1023px) {
    .b-hp-vu__item--D, .b-hp-vu__item--4 {
      width: 23.3%; } }
  @media (max-width: 767px) {
    .b-hp-vu__item--D, .b-hp-vu__item--4 {
      width: 48.3%;
      margin-right: 2.48%; } }

.b-hp-vu__item--E, .b-hp-vu__item--5 {
  width: 25.3%;
  margin-right: 1.78%; }
  @media (max-width: 1023px) {
    .b-hp-vu__item--E, .b-hp-vu__item--5 {
      width: 30.1%; } }
  @media (max-width: 767px) {
    .b-hp-vu__item--E, .b-hp-vu__item--5 {
      margin-top: 0;
      width: 48.4%;
      margin-right: 0; } }

.b-hp-faq {
  overflow: hidden; }
  .b-hp-faq h2 {
    width: 19.2%;
    float: left; }

.b-hp-faq__item {
  width: 74.4%;
  float: left; }
  .b-hp-faq__item .media-item__media {
    width: 49%;
    float: left; }
  .b-hp-faq__item .media-item__content, .b-hp-faq__item .media-item__content--fluid {
    width: 49%;
    padding: 15% 2.3%;
    float: left; }

.b-hp-faq__slider {
  display: block;
  overflow: hidden; }

.b-hp-business {
  clear: both; }
  .b-hp-business h2 {
    width: 100%;
    margin-bottom: 4.7%; }

.b-hp-business__item, .b-hp-business__item--A, .b-hp-business__item--1, .b-hp-business__item--B, .b-hp-business__item--2, .b-hp-business__item--C, .b-hp-business__item--3, .b-hp-business__item--D, .b-hp-business__item--4, .b-hp-business__item--E, .b-hp-business__item--5, .b-hp-business__item--F, .b-hp-business__item--6, .b-hp-business__item--G, .b-hp-business__item--7 {
  float: left;
  width: 25%; }

.b-hp-business__item--A, .b-hp-business__item--1 {
  width: 23.6%;
  margin-right: 1.7%; }
  @media (max-width: 767px) {
    .b-hp-business__item--A, .b-hp-business__item--1 {
      width: 48.6%;
      margin-right: 2.7%; } }

.b-hp-business__item--B, .b-hp-business__item--2 {
  width: 23.8%;
  margin-right: 1.7%; }
  @media (max-width: 767px) {
    .b-hp-business__item--B, .b-hp-business__item--2 {
      width: 48.4%;
      margin-right: 0; } }

.b-hp-business__item--C, .b-hp-business__item--3 {
  margin-top: -8.6%;
  width: 23.8%;
  margin-right: 1.7%;
  margin-bottom: 18.5%; }
  @media (max-width: 1023px) {
    .b-hp-business__item--C, .b-hp-business__item--3 {
      margin-bottom: 9.5%; } }
  @media (max-width: 767px) {
    .b-hp-business__item--C, .b-hp-business__item--3 {
      margin-top: -11.6%;
      width: 48.5%;
      margin-right: 2.9%; } }

.b-hp-business__item--D, .b-hp-business__item--4 {
  margin-top: -8.6%;
  width: 23.7%; }
  @media (max-width: 767px) {
    .b-hp-business__item--D, .b-hp-business__item--4 {
      margin-top: 12.4%;
      width: 48.4%; } }

.b-hp-business__item--E, .b-hp-business__item--5 {
  width: 23.6%;
  margin-right: 1.9%;
  margin-top: -12.5%; }
  @media (max-width: 1023px) {
    .b-hp-business__item--E, .b-hp-business__item--5 {
      margin-top: -7.5%; } }
  @media (max-width: 767px) {
    .b-hp-business__item--E, .b-hp-business__item--5 {
      margin-top: 0;
      width: 48.7%;
      margin-right: 2.6%; } }

.b-hp-business__item--F, .b-hp-business__item--6 {
  width: 23.6%;
  margin-right: 1.7%; }
  @media (max-width: 767px) {
    .b-hp-business__item--F, .b-hp-business__item--6 {
      width: 48.5%;
      margin-right: 0; } }

.b-hp-business__item--G, .b-hp-business__item--7 {
  overflow: hidden;
  width: 49.2%;
  border: 24px solid #ffcc33; }
  @media (max-width: 767px) {
    .b-hp-business__item--G, .b-hp-business__item--7 {
      width: 100%;
      margin-top: 17%;
      border: 11px solid #ffcc33; } }

.b-test-teaser {
  display: none;
  position: relative;
  margin-bottom: 10%;
  text-align: center; }
  .b-test-teaser img {
    display: block;
    width: 100%; }

.b-test-teaser__trucks {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.b-test-teaser__trucks__item {
  display: inline-block;
  margin: -6.9% 0% 0; }
  .b-test-teaser__trucks__item:nth-child(2) {
    margin-left: 7.9%;
    margin-right: 7.9%; }
  .b-test-teaser__trucks__item h5 {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 900;
    text-transform: uppercase; }
  .b-test-teaser__trucks__item p {
    color: #000; }

.b-test-teaser__content {
  position: absolute;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  margin-top: 7%; }
  .b-test-teaser__content h2 {
    margin-bottom: 7%; }
  .b-test-teaser__content p {
    margin-bottom: 3%; }

.b-most-read {
  padding-top: 6%;
  padding-bottom: 7.8%;
  width: 100%;
  display: block; }
  .b-most-read h2 {
    width: 20.6%;
    float: left;
    margin-top: 9%;
    padding-left: 2%; }
  @media (max-width: 767px) {
    .b-most-read br {
      display: none; }
    .b-most-read h2 {
      width: 100%;
      margin-bottom: 11%; } }

.b-most-read__slider {
  width: 76%;
  float: left; }
  @media (max-width: 767px) {
    .b-most-read__slider {
      width: 100%; } }

.b-most-read__slider__item {
  width: 22.8%;
  display: inline-block;
  vertical-align: top;
  margin: 0 1%; }
  .b-most-read__slider__item img {
    width: 100%;
    margin-bottom: 9%; }
  .b-most-read__slider__item p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
    color: #000; }
  .b-most-read__slider__item:first-child {
    margin-left: 0; }
  .b-most-read__slider__item:last-child {
    margin-right: 0; }
  .b-most-read__slider__item:nth-child(5), .b-most-read__slider__item:nth-child(6), .b-most-read__slider__item:nth-child(7), .b-most-read__slider__item:nth-child(8) {
    display: none; }
  @media (max-width: 1023px) {
    .b-most-read__slider__item p {
      font-size: 13px;
      line-height: 15px; } }
  @media (max-width: 767px) {
    .b-most-read__slider__item {
      width: 48.5%;
      margin: 0;
      margin-bottom: 9%; }
      .b-most-read__slider__item:nth-child(2n-1) {
        margin-right: 1.7%; } }

footer {
  width: 100%;
  text-align: center;
  padding-top: 4%;
  background: #f6f6f6; }

.footer-links__item {
  display: inline-block;
  font-size: 10px;
  font-size: 0.625rem;
  color: #8b8b8b;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5% 0.8%; }

.s-teaser-slider {
  width: 100%;
  position: relative; }
  .s-teaser-slider img {
    width: 100%; }

.s-teaser-slider__item__content {
  position: absolute;
  width: 260px;
  top: 16%;
  left: 10%; }
  .s-teaser-slider__item__content h3 {
    color: white;
    line-height: 34px;
    line-height: 2.125rem;
    margin-bottom: 6%; }
  .s-teaser-slider__item__content p {
    margin-bottom: 19%; }

.s-teaser-slider__pre-heading {
  font-family: "Airways", sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  color: #ffcc33;
  margin-bottom: 5.1%;
  display: block; }
