@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  overflow-x: hidden;
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after, .wrapper:after, .wrapper--big:after, .wrapper--medium:after, .header:after, .b-hp-news:after, .b-hp-fan:after, .b-hp-fan__teaser:after, .b-hp-fan__list:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none;
  color: inherit; }

@font-face {
  font-family: 'Airways';
  src: url(../../assets//font/airways.ttf);
  /* IE9 Compat Modes */
  src: url(../../assets//font/airways.ttf) format("truetype"), url("webfont.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  @media (max-width: 1600px) {
    html {
      font-size: 16px; } }
  @media (max-width: 700px) {
    html {
      font-size: 16px; } }

p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #7e7e7e; }

body {
  position: relative; }

.elem-center {
  display: block;
  text-align: center; }
  .elem-center h2 {
    display: inline-block; }

.arr-go {
  float: right;
  margin-right: 15px;
  background: url(../../assets/img/arrow-visit.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-ransform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center; }

.text-align--left {
  text-align: left; }

.no-scroll {
  overflow: hidden; }

h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem; }
  h2 strong {
    font-weight: 900; }
  h2 span {
    font-family: "Airways", sans-serif;
    text-transform: lowercase;
    font-size: 30px;
    font-size: 1.875rem; }

h3 {
  font-size: 31px;
  font-size: 1.9375rem;
  line-height: 31px;
  line-height: 1.9375rem;
  margin-bottom: 11%;
  font-weight: 900; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  font-weight: 900;
  margin-bottom: 18px; }

strong {
  font-weight: bold; }

.wrapper, .wrapper--big, .wrapper--medium {
  width: 100%;
  margin: 0 auto; }

.wrapper--big {
  max-width: 1700px; }

.wrapper--medium {
  max-width: 1400px;
  padding: 0 25px; }

.media-item {
  font-size: 16px;
  font-size: 1rem; }

.media-item__media {
  position: relative; }
  .media-item__media img {
    width: 100%;
    display: block; }

.media-item__content p, .media-item__content--fluid p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #7e7e7e; }

.media-item__tag {
  position: absolute;
  color: #000;
  bottom: 0;
  background: #ffcc33;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 14px 26px; }

.media-item__content--fluid {
  position: relative; }
  .media-item__content--fluid .fluid {
    position: absolute;
    top: 0;
    left: 0; }

.header {
  display: block;
  text-align: center;
  background: #222;
  height: 65px;
  line-height: 64px;
  line-height: 4rem;
  z-index: 10;
  position: relative; }

.header-links {
  display: inline; }
  .header-links li {
    color: yellow;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    font-size: 0.75rem;
    vertical-align: top;
    color: #ffcc33;
    margin: 0 1.5%;
    letter-spacing: 1px; }

.header-social {
  float: left; }

.header-search {
  float: right;
  width: 100px; }

.header__logo img {
  margin-top: 10px; }

.header-social__item {
  width: 23px;
  height: 45px;
  margin: 10px;
  background-image: url(../../assets//img/fb-header-ico.png);
  background-repeat: no-repeat;
  background-size: 10px;
  float: left;
  background-position: center; }
  .header-social__item.fb {
    margin-left: 21px; }
  .header-social__item.yt {
    background-image: url(../../assets//img/yt-header-ico.png);
    background-size: 23px; }

.header-search {
  width: 23px;
  height: 45px;
  margin: 10px;
  margin-right: 33px;
  float: right;
  background-image: url(../../assets//img/header-search-ico.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center; }

.b-hp-viewer {
  display: block; }
  .b-hp-viewer img {
    display: block; }

.b-hp-viewer__item img {
  width: 100%; }

.b-hp-news {
  display: block;
  position: relative; }

.b-hp-news__left,
.b-hp-news__right {
  width: 49.3%;
  margin-right: 0.7%;
  float: left; }

.b-hp-news__right {
  width: 49.3%;
  margin-right: 0;
  margin-left: 0.7%; }

.b-hp-news__item {
  float: left;
  width: 50%; }
  .b-hp-news__item h2 {
    margin-bottom: 72%; }

.b-hp-news__item--A {
  padding-top: 35.3%;
  width: 35%;
  margin-right: 4%; }
  .b-hp-news__item--A .media-item__media {
    margin-bottom: 12%; }

.b-hp-news__item--B {
  padding-top: 36.2%;
  width: 60.5%; }
  .b-hp-news__item--B .media-item__media {
    margin-bottom: 7%; }

.b-hp-news__item--C {
  padding-top: 11.4%;
  width: 100%;
  margin-bottom: 17.6%; }
  .b-hp-news__item--C .media-item__media {
    margin-bottom: 4%; }
    .b-hp-news__item--C .media-item__media img {
      width: 87%; }

.b-hp-news__item--D {
  width: 100%;
  margin-bottom: 6.6%; }
  .b-hp-news__item--D .media-item__media {
    width: 48.2%;
    margin-right: 4%;
    float: left;
    margin-bottom: 4%; }
  .b-hp-news__item--D .media-item__content, .b-hp-news__item--D .media-item__content--fluid {
    float: left;
    width: 42%;
    margin-left: 0; }

.b-button {
  text-align: center;
  display: inline-block;
  padding: 20px 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 700;
  box-shadow: 0px 16px 37px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 9.2%; }

.b-hp-fan {
  display: block;
  background: #dedede;
  padding: 7.3% 6.3%; }

.b-hp-fan__teaser {
  display: block;
  background: #fff; }

.b-hp-fan__teaser__media {
  display: block;
  width: 70.5%;
  float: left; }
  .b-hp-fan__teaser__media img {
    display: block;
    width: 100%; }

.b-hp-fan__teaser__content {
  background: #fff;
  width: 29.5%;
  float: left;
  padding: 3.9% 5.6% 3.9% 7.6%; }
  .b-hp-fan__teaser__content h2 {
    margin-bottom: 30%; }
  .b-hp-fan__teaser__content p {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #7e7e7e; }

.b-hp-fan__list {
  display: block;
  background: white;
  padding-left: 14.6%;
  padding-top: 5.8%; }

.b-hp-fan__list__item {
  width: 31.6%;
  float: right; }
  .b-hp-fan__list__item:nth-child(2) {
    margin-left: 2.7%;
    margin-right: 2.5%; }
  .b-hp-fan__list__item .media-item__content, .b-hp-fan__list__item .media-item__content--fluid {
    padding-top: 8.2%; }

.b-hp-vu {
  padding-left: 6%; }
  .b-hp-vu h2 {
    margin-top: 6.9%;
    margin-bottom: 4.6%;
    width: 52.7%; }

.b-hp-vu__item, .b-hp-vu__item--A, .b-hp-vu__item--B, .b-hp-vu__item--C, .b-hp-vu__item--D, .b-hp-vu__item--E {
  float: left;
  display: block; }

.b-hp-vu__item--A {
  width: 25.3%;
  margin-right: 1.9%; }
  .b-hp-vu__item--A .media-item__content, .b-hp-vu__item--A .media-item__content--fluid {
    padding-top: 6.62%; }

.b-hp-vu__item--B {
  width: 25.3%;
  margin-right: 1.78%; }
  .b-hp-vu__item--B .media-item__content, .b-hp-vu__item--B .media-item__content--fluid {
    padding-top: 80.62%;
    padding-top: 6.62%; }

.b-hp-vu__item--C {
  width: 45.7%;
  margin-top: -16.6%; }
  .b-hp-vu__item--C .media-item__content, .b-hp-vu__item--C .media-item__content--fluid {
    padding-top: 34.82%;
    padding-bottom: 10%; }

.b-hp-vu__item--D {
  width: 25.3%;
  margin-right: 1.78%; }
  .b-hp-vu__item--D .media-item__content, .b-hp-vu__item--D .media-item__content--fluid {
    padding-top: 6.62%; }

.b-hp-vu__item--E {
  width: 25.3%;
  margin-right: 1.78%; }
  .b-hp-vu__item--E .media-item__content, .b-hp-vu__item--E .media-item__content--fluid {
    padding-top: 6.62%; }

.b-hp-faq h2 {
  width: 19.2%;
  float: left; }

.b-hp-faq__item {
  width: 74.4%;
  float: left; }
  .b-hp-faq__item .media-item__media {
    width: 49%;
    float: left; }
  .b-hp-faq__item .media-item__content, .b-hp-faq__item .media-item__content--fluid {
    width: 49%;
    padding: 15% 2.3%;
    float: left; }

.b-hp-business h2 {
  width: 100%;
  margin-bottom: 4.7%; }

.b-hp-business__item, .b-hp-business__item--A, .b-hp-business__item--B, .b-hp-business__item--C, .b-hp-business__item--D, .b-hp-business__item--E, .b-hp-business__item--F, .b-hp-business__item--G {
  float: left;
  width: 25%; }

.b-hp-business__item--A {
  width: 23.6%;
  margin-right: 1.7%; }

.b-hp-business__item--B {
  width: 23.8%;
  margin-right: 1.7%; }

.b-hp-business__item--C {
  margin-top: -8.6%;
  width: 23.8%;
  margin-right: 1.7%;
  margin-bottom: 18.5%; }

.b-hp-business__item--D {
  margin-top: -8.6%;
  width: 23.7%; }

.b-hp-business__item--E {
  width: 23.6%;
  margin-right: 1.9%;
  margin-top: -12.5%; }

.b-hp-business__item--F {
  width: 23.6%;
  margin-right: 1.7%; }

.b-hp-business__item--G {
  width: 49.2%;
  border: 24px solid #ffcc33; }

.b-test-teaser {
  display: block;
  position: relative;
  margin-bottom: 10%;
  text-align: center; }
  .b-test-teaser img {
    display: block;
    width: 100%; }

.b-test-teaser__trucks {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.b-test-teaser__trucks__item {
  display: inline-block;
  margin: -6.9% 0% 0; }
  .b-test-teaser__trucks__item:nth-child(2) {
    margin-left: 7.9%;
    margin-right: 7.9%; }
  .b-test-teaser__trucks__item h5 {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 900;
    text-transform: uppercase; }
  .b-test-teaser__trucks__item p {
    color: #000; }

.b-test-teaser__content {
  position: absolute;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  margin-top: 7%; }
  .b-test-teaser__content h2 {
    margin-bottom: 7%; }
  .b-test-teaser__content p {
    margin-bottom: 3%; }

.b-most-read {
  width: 100%;
  display: block; }
  .b-most-read h2 {
    width: 20.6%;
    float: left; }

.b-most-read__slider {
  width: 76%;
  float: left; }

.b-most-read__slider__item {
  width: 22.8%;
  display: inline-block;
  margin: 0 1%; }
  .b-most-read__slider__item img {
    width: 100%;
    margin-bottom: 9%; }
  .b-most-read__slider__item p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    line-height: 1.25rem;
    color: #000; }
  .b-most-read__slider__item:first-child {
    margin-left: 0; }
  .b-most-read__slider__item:last-child {
    margin-right: 0; }

footer {
  width: 100%;
  text-align: center;
  padding-top: 4%;
  background: #f6f6f6; }

.footer-links__item {
  display: inline-block;
  font-size: 10px;
  font-size: 0.625rem;
  color: #8b8b8b;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5% 0.8%; }

.s-teaser-slider {
  width: 100%;
  position: relative; }
  .s-teaser-slider img {
    width: 100%; }

.s-teaser-slider__item__content {
  position: absolute;
  width: 260px;
  top: 16%;
  left: 10%; }
  .s-teaser-slider__item__content h3 {
    color: white;
    line-height: 34px;
    line-height: 2.125rem;
    margin-bottom: 6%; }
  .s-teaser-slider__item__content p {
    margin-bottom: 19%; }

.s-teaser-slider__pre-heading {
  font-family: "Airways", sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  color: #ffcc33;
  margin-bottom: 5.1%;
  display: block; }
